<h1>New ingredient for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>
<hr>
<%= link_to 'Back', cocktail_path(@cocktail)  %>

<h3>Existents one:</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %></li>
  <% end %>
</ul>
